[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/

MemoryCaptures/
Recordings/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt

*.apk
*.aab
*.unitypackage

.DS_Store
Thumbs.db